@model SCMS.Models.Story

@{
    ViewBag.Title = "ViewStory";
}

<div class="row">
    <div class="col-xs-12">
        <h3>User Story For Approval</h3>
        @Html.ActionLink("Return to List", "Index", "StoryApproval")
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        @using (Html.BeginForm("Approve", "StoryApproval", FormMethod.Post))
        {
            @Html.HiddenFor(c => c.CategoryId)
            <br />
            <label>Story To Approve/Deny</label>
            <br />
            @Html.TextAreaFor(s => s.Content, 10, 40, htmlAttributes: new { style = "width: 80%; max-width: 80%" })
            <br />
            @Html.TextAreaFor(s => s.Feedback, 5, 20, htmlAttributes: new { style = "width: 25%; max-width: 25%" })
            <br />

            <button type="submit" class="btn btn-sm btn-primary">Approve</button>
            <button type="submit" class="btn btn-sm btn-primary">Deny</button>
        }
    </div>
</div>

