@model SCMS.Models.ViewModels.ResetPasswordVM

@{
    ViewBag.Title = "ResetPassword";
}

    @using (Html.BeginForm("ResetPassword", "ResetPassword", FormMethod.Post))
    {
        <br/>
        <div class="col-sm-12 col-sm-offset-3 col-sm-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">Reset Password</h4>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        @Html.HiddenFor(m => m.UserName)
                        <label>Current Password</label>
                        @Html.TextBoxFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                        <br />
                        <label>New Password</label>
                        @Html.TextBoxFor(m => m.NewPassword, new { @class = "form-control", placeholder = "New Password" })
                        <br />
                        <label>Retype New Password</label>
                        @Html.TextBoxFor(m => m.NewPasswordRetype, new { @class = "form-control", placeholder = "Retype New Password" })
                        <br />
                        <button class="btn btn-primary">Reset</button>
                    </div>
                </div>
            </div>
        </div>
    }



