@model SCMS.Models.ViewModels.ResetPasswordVM

@{
    ViewBag.Title = "ResetPassword";
}

<h2>ResetPassword</h2>

<!DOCTYPE html>

<html>
<head>
    <title>Reset Password</title>
</head>
<body>
    @using (Html.BeginForm("ResetPassword", "ResetPassword", FormMethod.Post))
    {
        @Html.HiddenFor(m=>m.UserName)
        <label>Current Password</label>
        @Html.TextBoxFor(m => m.Password)
        <label>New Password</label>
        @Html.TextBoxFor(m => m.NewPassword)
        <label>Retype New Password</label>
        @Html.TextBoxFor(m => m.NewPasswordRetype)
        <input type="submit" value="Reset" />
    }

</body>
</html>


