@model SCMS.Models.Intimacy

@{
    ViewBag.Title = "Delete";
}

<div class="row">
    <div class="col-xs-12">
        <h3>Delete Category</h3>        
    </div>
</div>
<div class="row">
    <div class="col-xs-4">
        @using (Html.BeginForm("Delete", "Intimacy", FormMethod.Post))
        {
            @Html.HiddenFor(c => c.IntimacyId)
            <p>Are you sure that you wish to delete intimacy @Html.DisplayFor(d => d.Description)?</p>
            <div class="divSave">
                <button type="submit" class="btn btn-danger">Delete</button>
                @Html.ActionLink("Cancel", "List", "Intimacy", null, new { @class = "btn btn-info" })
            </div>
        }
    </div>
</div>     