@model SCMS.Models.Intimacy

@{
    ViewBag.Title = "Edit";
}

<div class="row">
    <div class="col-xs-12">
        <h3>Edit Intimacy</h3>
    </div>
</div>

<div class="row">
    <div class="col-xs-3">
        @using (Html.BeginForm("Edit", "Intimacy", FormMethod.Post))
        {
            <div class="form-group">
                @Html.HiddenFor(i => i.IntimacyId)
                <label>Description</label>
                @Html.TextBoxFor(d => d.Description, new { @class = "form-control" })
            </div>
            <hr />
            <div class="divSave">
                <button type="submit" class="btn btn-primary">Save</button>
                @Html.ActionLink("Cancel", "List", "Intimacy", null, new { @class = "btn btn-info" })
            </div>
        }
    </div>
</div>