@model List<SCMS.Models.Intimacy>

@{
    ViewBag.Title = "Intimacy";
}

<div class="row">
    <div class="col-xs-12">
        <h2>Intimacy</h2>
        @Html.ActionLink("Add Intimacy Level", "Add", "Intimacy", null, new { @class = "btn btn-primary" })
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <table class="table table-striped" style="width: auto;">
            <thead>
                <tr>
                    <th>Description</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var i in Model)
                {
                    <tr>
                        <td>@i.Description</td>
                        <td>@Html.ActionLink("Edit", "Edit", "Intimacy", new { id = i.IntimacyId }, null)</td>
                        <td>@Html.ActionLink("Delete", "Delete", "Intimacy", new { id = i.IntimacyId }, null)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

