#featureStory{
    width: 95%;
    margin-left: 25px;


}
#featureButton{
    padding-left: 30px;
    
}
#title {
	font-size:x-large;
	color: black;
}
body {
	background-image:url('Img/background.jpg');
	background-repeat: no-repeat;
	background-position:center;
	background-size:auto;
}
#searchField {
	float:left;
}
a {
	color: black;
}
#nav li:hover > ul {
	display: block;
}