#featureStory{
    width: 95%;
    margin-left: 25px;
}

#featureButton{
    padding-left: 30px;    
}

#title {
	font-size:x-large;
}

body {
	background-image:url('Img/background.jpg');
	background-repeat: no-repeat;
	background-position:center;
	background-size:auto;
}

#searchField {
	float:left;
}

#nav li:hover > ul {
	display: block;
}

button {
    width: 70px;
}

.divSave {
    margin-top: 10px;
    text-align: right;
}

.divError {
    margin-top: 10px;
    color: red
}

.divShow {
    border: solid;
    margin-top: 10px
}

.divImgSmall {
    width: 100px;
    height: 100px
}