@model SCMS.Models.ViewModels.LoginVM

@{
    ViewBag.Title = "Login";
}

<title>Test Login Cookie</title>

@using (Html.BeginForm("Login", "Auth", FormMethod.Post))
{
    <br />
    <div class="col-sm-12 col-sm-offset-3 col-sm-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">Login</h4>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    @Html.ValidationSummary(true)
                    <label>User Name</label>
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "User Name" })
                    <br />
                    <label>Password</label>
                    @Html.TextBoxFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                    <br />
                    <button class="btn btn-primary">Login</button>
                </div>
            </div>
        </div>
    </div>
}