@model SCMS.Models.ViewModels.StoryVM

@{
    ViewBag.Title = "Delete";
}

<div class="row">
    <div class="col-xs-12">
        <h3>Delete Story</h3>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-4">
            @using (Html.BeginForm("Delete", "Story", FormMethod.Post))
            {
                @Html.HiddenFor(m => m.StoryId)        
                <p>Are you sure that you wish to delete story @Html.DisplayFor(m=>m.Title)?</p>
                <div class="divSave">
                    <button type="submit" class="btn btn-danger">Delete</button>
                    @Html.ActionLink("Cancel", "List", "Story", new { @class = "btn btn-info" })
                </div>
            }
        </div>
    </div>
</div>