@*@model SCMS.Models.ViewModels.StoryVM

@{
    ViewBag.Title = "CategoryList";
}

<h2>Category List</h2>

	<div class="row">
		<div class="col-md-12">
			@foreach (var story in Model.)
			{
				<div class="row">
					<p>
						@category.
					</p>
				</div>
			}
			<input type="submit" value="Submit Form" />
		</div>

	</div>

}*@